<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<center>
  <h1>Привет, я Алексей, можно Лёша =)</h1>
</center>
<center>
  <p>
    Меня зовут Алексей Качкаев, мне 34 года, живу в Уфе, работаю в отделе проектирования и разработки АСУ ТП. <br>
    Програмиирование контроллеров АСУ ТП больше похоже на собирание программы из кубиков, чем на программирование в классическом его понимании. <br>
    Ещё в школе и в институте мне нравилось писать небольшие программки на TP и Delphi, но дальше небольших скриптов дело не шло, и  основная моя специальность и работа хоть и немного касается программирования, но это не то. <br>
    Иногда по работе приходилось писать на VBA, python, C поэтому решил попробовать новый для себя мир программирования.
  </p>
</center>
{% endblock %}